html {
     min-height: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
}

.header {
  padding: 60px;
  text-align: center;
  /*background: #FED8B1;*/
  color: black;
  font-size: 30px;
}

.center_icons {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 20px;*/
  text-align: center;
}
